body {
    background-color: rgb(246, 246, 246);
    overflow-x: hidden;
    animation: fadeInAnimation ease 1xs;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

  @keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
  }

::-webkit-scrollbar {
    display: none;
}

/* Main Section */
#main {
    background-color: #21222D;
    height: 5rem;
}

.headNav {
    padding: 1% 20%;
    background-color: #21222D;
}

.brand-name {
    font-size: 2rem;
    font-weight: bold;
}

.logo {
    background-color: #1F4693;
    padding: 10px 7px 10px 10px;
    border-radius: 30%;
}

/*Search Bar*/
.search-bar {
    padding: 0 8px 0 0;
}

.form-control {
    border: none;
    background-color: white;
    border: #1F4693;
}

.dropdown-menu{
    padding: 0;
    overflow: hidden;
}
.dropdown-menu li:last-child :hover{
    background-color: rgb(108, 3, 3);
}
.dropdown-item{
    padding: 0.5rem 1rem;
}
.dropdown-item:hover{
    background-color: #1F4693;
}

/*headContent*/
.headContent {
    padding: 3rem 15% 0.5rem;
}

.table{
    background: white;
    border-radius: 10px;
    overflow: hidden;
    border-collapse: collapse;
    border-spacing: 0 0.5rem;
    font-size: larger;
    text-align: center;
}

.head-image {
    /* margin-left: 7rem; */
    height: 20rem;
    padding: 0px;   
}

/* Tests */
#tests {
    padding: 3% 20%;
    overflow: hidden;
}

.card {
    border: none;
    box-shadow: 5px 10px 55px 10px #eeeef8;
    transition: all 0.4s;
    margin: 1rem;
}

.card:hover {
    transform: scale(1.01);
    box-shadow: 5px 10px 55px 10px #c6c6c6;

}

.card-img {
    width: 100%;
    height: 150px;
    z-index: 5;
    
}

.card-img-overlay {
    color: white;
}

.card-img-overlay .card-title {
    /* border: solid white;
    border-width: 0 0 0 3px;
    padding-left: 5px; */
    width: 40%;

    left: 0;
    padding: 10px;
    background: rgb(0, 0, 0);
    background: linear-gradient(90deg, rgba(225, 225, 225, 0.3) 0%, rgba(0, 0, 0, 0) 100%);
}

/* Footer */
.foot {
    color: white;
    background-color: #21222D;
    /* border: solid 2px #7db6d5;
    border-width:  4px 0 0 0; */
    padding: 0 12%;
    height: 5rem;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    /* box-shadow: 0 0 100px 70px #37394a ; */
}

.copyright {
    margin: 0;
    float: right;
}

@media screen and (max-width: 1092px) {
    .copyright {
        padding-top: 1.4;
    }
}